body{
    background-color: bisque;
    font-family: monospace, 'sans-serif';
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding:20px;
}

button{
    padding:30px;
    width:300px;
    font-size:30px;
    background-color: dodgerblue;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
}

#your-score, #computer-score{
    padding: 20px;
    text-align: center;
    font-size:20px;
}

.reset{
    margin: 50px;
}

.rock{
    background-color: brown;
}

.paper{
    background-color: whitesmoke;
    color:black;
}

.scissors{
    background-color: cadetblue;
}
.score-container{
    padding:10px;
}
